.App {
    width: 100%;
    height: auto;
    display: inline-block;
    background: black;
    /* overflow: auto; */
    float: left;
}


.sub_category_main_div
{
    width: 100%;
    height: 82%;
    /* overflow: auto; */
    /* overflow-y: hidden; */
    /* margin: 0 auto; */
    /* white-space: nowrap; */
    float: left;
}

.category_image_div
{
    width: 20%;
    height: 100%;
    /* margin: 20px 10px; */
    display: inline-block;
}

.image_div
{
    width: 100%;
    height: 100%;
    display: inline-block;
}

.sub_category_main_outer_div
{
    width: 98%;
    height: 170px;
    display: inline-block;
    margin-top: 2%;
    margin-left: 1%;
    float: left;
}

.sub_category_header_div
{
    width: 100%;
    height: 15%;
    display: inline-block;
    float: left;
    font-size: 20px;
    line-height: 1;
    font-family: sans-serif;
    font-weight: bolder;
    color: white;
    padding-bottom: 0.3%;
}

.sub_category_left_slide_div
{
    float: left;
    width: 100px;
    background: transparent;
    height: 130px;
    z-index: 1;
    position: fixed;
    margin-top: 3%; 
    font-size: 75px;
    color: white;
}

.sub_category_right_slide_div
{
    width: 100px;
    background: transparent;
    height: 130px;
    z-index: 1;
    position: fixed;
    margin-top: 3%;
    right: 0px;
    font-size: 75px;
    color: white;
    text-align: right
}

.sub_category_main_div .slick-arrow
{
  z-index: 1;   
}

.sub_category_main_div .slick-next
{
    right: 2px !important;
}

.sub_category_main_div .slick-prev
{
    left: 2px !important;
}

.sub_category_main_div .slick-slider
{
    width: 100%;
    height: 100%;
    float: left;
    display: inline-block;
}

.sub_category_main_div .slick-list
{
    width: 100%;
    height: 100%;
    float: left;
    display: inline-block;  
}

.sub_category_main_div .slick-track
{
   height: 100%; 
}



.slick-active div
{
    width: 98%;
    height: 100%;
    float: left;
    display: inline-block;   
}

#infinite_app
{
    width: 100%;
    height: 100%;
    display: inline-block;    
}

.data-loading {
    display: inline-block;
    text-align: center;
    background-color: black;
    font-size: 2rem;
    width: 100%;
    height: 53px;
    float: left;
    color: white;
    line-height: 2;
}

.OuterApp
{
    width: 100%;
    display: inline-block;
    height: 100%;
    float: left;   
}

.slick-dots
{
    display: none !important;
}

.spinner
{
    color:white;
}